<a href="https://colab.research.google.com/github/ssobranding/mypage/blob/main/Week_2_NO_Header_Add_Column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1: Import pandas

In [ ]:
import pandas as pd

# Install pandas if not already installed
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# Working with CSV files:
Load a mnist_test.csv file into a dataframe - labelled as df

In [ ]:
df = pd.read_csv('People_data_noheader.csv')

Show the first 5 lines of the csv file.

In [ ]:
df.head(10)

      Alan    Rivera  44  60767 Therapist, speech and language   5'2"
0  Melissa     Russo  30  33327      Psychologist, counselling   6'6"
1  Jeffrey     Dixon  20  29301             Investment analyst   6'3"
2     Gina    Garner  32  73117                        Curator   6'0"
3     Ruth   Johnson  28  76795        Education administrator   6'1"
4     Mark     White  29  31033           Merchandiser, retail   5'5"
5  Jessica     Roman  32  50843  Operational investment banker   5'9"
6  Vincent  Gallegos  25  59128               Therapist, music   6'0"
7   Austin    Taylor  41  46034                   Nurse, adult   5'8"
8    Julie   Hoffman  29  47075                  Advice worker  5'11"
9    Tammy   Holland  24  76544         Pension scheme manager   5'9"

Modify the above line of code to show the first 15 lines of the dataframe.
Modify the above line of code to shwo the last 15 lines of the dataframe

Question:<br/>What do you observe about the data?

Load the same data into a new dataframe with default column names

In [ ]:
df_nh = pd.read_csv('People_data_noheader.csv', header=None)

In [ ]:
df_nh.head()

         0        1   2      3                               4     5
0     Alan   Rivera  44  60767  Therapist, speech and language  5'2"
1  Melissa    Russo  30  33327       Psychologist, counselling  6'6"
2  Jeffrey    Dixon  20  29301              Investment analyst  6'3"
3     Gina   Garner  32  73117                         Curator  6'0"
4     Ruth  Johnson  28  76795         Education administrator  6'1"

Load the data with PreSet assigned Column Names:

In [ ]:
headers = ["Firstname", "Surname", "age", "salary", "occupation", "height"]
df_headers = pd.read_csv('People_data_noheader.csv', names=headers)

df_headers.head(10)

  Firstname   Surname  age  salary                      occupation height
0      Alan    Rivera   44   60767  Therapist, speech and language   5'2"
1   Melissa     Russo   30   33327       Psychologist, counselling   6'6"
2   Jeffrey     Dixon   20   29301              Investment analyst   6'3"
3      Gina    Garner   32   73117                         Curator   6'0"
4      Ruth   Johnson   28   76795         Education administrator   6'1"
5      Mark     White   29   31033            Merchandiser, retail   5'5"
6   Jessica     Roman   32   50843   Operational investment banker   5'9"
7   Vincent  Gallegos   25   59128                Therapist, music   6'0"
8    Austin    Taylor   41   46034                    Nurse, adult   5'8"
9     Julie   Hoffman   29   47075                   Advice worker  5'11"

In [ ]:
# prompt: calculate the average salary

# Calculate the average salary
average_salary = df_headers['salary'].mean()
print(f"The average salary is: {average_salary}")

The average salary is: 52345.2596

In [ ]:

# Calculate the average salary
average_salary = df_headers['salary'].mean()
print(f"The average salary is: {average_salary}")

# Add a new column 'High Value' and set it to 1 where salary > 40000
df_headers['High Value'] = 0  # Initialize the column with 0
df_headers.loc[df_headers['salary'] > 40000, 'High Value'] = 1

print(df_headers.head(20))

The average salary is: 52345.2596
   Firstname     Surname  age  salary                         occupation  \
0       Alan      Rivera   44   60767     Therapist, speech and language
1    Melissa       Russo   30   33327          Psychologist, counselling
2    Jeffrey       Dixon   20   29301                 Investment analyst
3       Gina      Garner   32   73117                            Curator
4       Ruth     Johnson   28   76795            Education administrator
5       Mark       White   29   31033               Merchandiser, retail
6    Jessica       Roman   32   50843      Operational investment banker
7    Vincent    Gallegos   25   59128                   Therapist, music
8     Austin      Taylor   41   46034                       Nurse, adult
9      Julie     Hoffman   29   47075                      Advice worker
10     Tammy     Holland   24   76544             Pension scheme manager
11   Michael     Rowland   44   60072          Radio broadcast assistant
12      Mary  Fitzgerald   28   74615                   Theatre director
13   Heather  Cunningham   21   28103  Planning and development surveyor
14   Breanna     Hawkins   19   59486                    Careers adviser
15     Jacob      Moreno   26   47048                               Copy
16  Kimberly     Ramirez   26   42128                       Statistician
17     James      Thomas   42   30452            Water quality scientist
18   Michael       Davis   25   46730            Land/geomatics surveyor
19    Denise    Williams   42   46018             Occupational therapist

   height  High Value
0    5'2"           1
1    6'6"           0
2    6'3"           0
3    6'0"           1
4    6'1"           1
5    5'5"           0
6    5'9"           1
7    6'0"           1
8    5'8"           1
9   5'11"           1
10   5'9"           1
11   5'3"           1
12   5'6"           1
13   5'4"           0
14   5'8"           1
15   5'6"           1
16   5'0"           1
17   6'2"           0
18   6'0"           1
19  6'11"           1

Modify the code to calculate the average age / median age / median salary

How would you calculate a average height?

In [ ]:
# Count the number of people with the occupation "copy"
hv_count = df_headers[df_headers['High Value'] == 1].shape[0]

print(f"The number of people with the High Salary is: {hv_count}")

hv_average = df_headers[df_headers['High Value'] == 1]['salary'].mean()
print(f"The average salary of people with the High Salary is: {hv_average}")

In [ ]:
# Count the number of people with the occupation "copy"
lv_count = df_headers[df_headers['High Value'] == 0].shape[0]

print(f"The number of people with the Low Salary is: {lv_count}")

lv_average = df_headers[df_headers['High Value'] == 0]['salary'].mean()
print(f"The average salary of people with the Low Salary is: {lv_average}")

In [ ]:
# prompt: export dataframe to csv

# Export the dataframe to a CSV file
df_headers.to_csv('exported_people_data.csv', index=False)

In [ ]:
# Count the number of people with the occupatioin "copy"
role_count = df_headers[df_headers['occupation'] == 'copy'].shape[0]

print(f"The number of people with the occupation 'copy' is: {role_count}")